<div class="contenedor-page">
  
  <div class="introduccion">
    <p>¡Hola! Bienvenido/s a este juego de adivinar la palabra.</p>
    <p>Para jugar, se necesitan dos jugadores (Player 1 y Player 2). Ambos, deberán adivinar las palabras elegidas
      por el contrincante. Pero, ¡cuidado! cada jugador podrá fallar hasta un máximo de cinco letras.
    </p>
    <p>Empezar a jugar es muy sencillo:</p>
    

    <section class="paso" ng-show="pasoIntro === 1">
      <p>El Player 1 <i class="fa fa-male p1" aria-hidden="true"></i> elige sus tres palabras, las cuales el Player 2 <i class="fa fa-male p2" aria-hidden="true"></i> deberá adivinar.</p>
    </section>

    <section class="paso" ng-show="pasoIntro === 2">
      <p>Luego, el Player 2 <i class="fa fa-male p2" aria-hidden="true"></i> elige sus correspondientes 3 palabras.</p>
    </section>

    <section class="paso" ng-show="pasoIntro === 3">
      <p>Al darle click al botón "Empezar", comienza el juego.</p>
    </section>

    <section class="paso" ng-show="pasoIntro === 4">
      <p>Comienza adivinando el Player 2 <i class="fa fa-male p2" aria-hidden="true"></i>.</p>
      <p>Luego le toca el turno al Player 1 <i class="fa fa-male p1" aria-hidden="true"></i>.</p>
    </section>
    
    <section class="paso" ng-show="pasoIntro === 5">
      <p>Se irán alternando los jugadores hasta que se terminen las palabras.</p>
    </section>
    
    <section class="paso" ng-show="pasoIntro === 6">
      <p>El ganador será el que más puntos logre al final, aunque también puede haber un empate.</p>
    </section>
    
    <section class="paso" ng-show="pasoIntro === 7">
      <p>Si el jugador adivina la palabra sin errores, sumará 50 puntos. Si comete un error, 40 puntos, y así sucesivamente.</p>
      <p>El menor puntaje que puede sumar es 10 puntos. Esto sucederá si adivina la palabra con 4 errores cometidos.</p>
    </section>

    <div class="contenedor-botones-intro">
      <button ng-disabled="pasoIntro < 2" ng-click="retrocederPasoIntro()" class="boton-intro">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <button ng-show="pasoIntro < 7" ng-disabled="pasoIntro > 6" ng-click="avanzarPasoIntro()" class="boton-intro">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
      <a href="#!player1" ng-show="pasoIntro > 6" ng-click="reiniciarPasoIntro()">
        <button class="boton">Comenzar</button>
      </a>
    </div>

  </div>

  <a href="#!player1" ng-click="reiniciarPasoIntro()">
    <button class="boton">Ya se jugar, Comenzar!</button>
  </a>
</div>