<div class="contenedor-page">
  <h1>Jugador 1</h1>
    
  <div class="player-box">

    <table class="player-table" ng-show="!gameStatus.p1inicializado">
      <tr>
        <td class="player-table-td-static">Nombre:</td>
        <td class="player-table-td-campos">
          <input type="text" ng-model="players[0].name" class="input-nombre" ng-change="validarP1()">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="player-table-td-text">
          <p>Elige tres palabras que deberá adivinar el jugador 2</p>
        </td>
      </tr>
      <tr>
        <td class="player-table-td-static">Palabra 1:</td>
        <td class="player-table-td-campos">
          <input type="text" class="input-palabras" ng-model="playersWords[0][0]" ng-change="validarP1()">
        </td>
      </tr>
      <tr>
        <td class="player-table-td-static">Palabra 2:</td>
        <td class="player-table-td-campos">
          <input type="text" class="input-palabras" ng-model="playersWords[0][1]" ng-change="validarP1()">
        </td>
      </tr>
      <tr>
        <td class="player-table-td-static">Palabra 3:</td>
        <td class="player-table-td-campos">
          <input type="text" class="input-palabras" ng-model="playersWords[0][2]" ng-change="validarP1()">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="player-table-td-text"  >
          <p>¡Cuidado! No permitas que el jugador 2 vea tus palabras.</p>
        </td>
      </tr>
    </table>

    <div ng-show="gameStatus.p1inicializado">
      <p>El jugador 1 ya eligió sus palabras!</p>
      <p>¿Desea reiniciar el juego? <a href="/" ng-click="reiniciar()">Sí</a></p>
    </div>
  </div>
  
  <p ng-bind="gameStatus.p1message" style="color: red;"></p>
  <!-- <a href="#!player2"> -->
    <button class="boton" ng-click="inicializarP1()">Siguiente</button>
  <!-- </a> -->
</div>