<div class="contenedor-page">
  <h1>Jugador 2</h1>
  
  <div>
    <label for="">Nombre P2:</label>
    <input type="text" ng-model="players[1].name" class="input-nombre">

    <p>Elige tres palabras que deberá adivinar el jugador 1</p>
    <div>
      <label for="">Palabra 1:</label>
      <input type="text" class="input-palabras" ng-model="playersWords[1][0]">
    </div>
    <div>
      <label for="">Palabra 2:</label>
      <input type="text" class="input-palabras" ng-model="playersWords[1][1]">
    </div>
    <div>
      <label for="">Palabra 3:</label>
      <input type="text" class="input-palabras" ng-model="playersWords[1][2]">
    </div>
  </div>

  <a href="#!game" ng-click="inicializarP2()"><button ng-click="inicializarP2()">Empezar</button></a>

</div>