body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightblue;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.contenedor-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-palabras, .input-nombre{
  /* display: block; */
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.letra {
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid gray;
  margin: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

#teclado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 0px;
}

.teclado-letra{
  width: 40px;
  height: 40px;
  background-color: #8585FF;
  border: 1px solid #505099;
  border-radius: 6px;
}

.teclado-letra:hover {
  cursor: pointer;
  background-color: #6565FF;
}

.teclado-letra:disabled {
  background-color: #A5A5FF;
}

.boton {
  padding: 10px 20px;
  background-color: #8585FF;
  border: 1px solid #505099;
  border-radius: 20px;
}

.boton:hover {
  cursor: pointer;
  background-color: #6565FF;
  color: lightblue;
}

#tablas {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

#table1, #table2 {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.tablas-encabezado {
  background-color: #6565FF;
  border: 1px solid #6565FF;
  color: #eee;
  font-weight: bold;
}

#table1 td, #table2 td {
  padding: 5px 20px;
  text-align: center;
}

#table1 tr:nth-child(even), #table2 tr:nth-child(even) {
  background-color: #b7e2f0;
}

#contenedor-palabra{
  display: flex;
  justify-content: center;
}

#contenedor-1{
  margin: 0px auto 0px auto;
}

.contenedor-resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-resultado {
  height: 64px;
  margin-bottom: 30px;
}

footer{
  display: flex;
  justify-content: center;
  padding: 100px;
}

@media only screen and (max-width: 600px) {
  .teclado-letra{
    width: 30px;
    height: 30px;
    background-color: #8585FF;
    border: 1px solid #505099;
    border-radius: 6px;
  }

  #tablas {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #table1, #table2 {
    border-collapse: collapse;
    font-size: 0.8rem;
  }

  #table1 td, #table2 td {
    padding: 5px 15px;
    text-align: center;
  }
}