/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: lightblue;
}

button {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 10px 0;
}

/* ------------------ main.htm ------------------*/
.introduccion {
  width: 50%;
  margin-bottom: 50px;
}

.paso{
  background-color: hsl(195, 53%, 82%);
  margin: 0.75em;
  padding: 0.5em 2em;
  height: 10em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.p1 {
  color: blue;
}

.p2 {
  color: red;
}

.contenedor-botones-intro {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.boton-intro {
  padding: 0.5em 1em;
  background-color: #8585FF;
  border: 1px solid #505099;
  border-radius: 20px;
  width: 3em;
  height: 3em;
}

.boton-intro:hover {
  cursor: pointer;
  background-color: #6565ff;
  color: lightblue;
}

.boton-intro:disabled {
  background-color: hsl(240, 100%, 85%);
  border: 1px solid hsl(240, 31%, 60%);
}

.boton {
  padding: 10px 20px;
  background-color: #8585FF;
  border: 1px solid #505099;
  border-radius: 20px;
}

.boton:hover {
  cursor: pointer;
  background-color: #6565FF;
  color: lightblue;
}

/* ------------------ playerX.htm ------------------*/
.contenedor-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-box {
  /* border: 1px solid black; */
  /* border-radius: 16px; */
  /* background-color: hsl(195, 53%, 83%); */
  margin: 10px 0 50px 0;
  padding: 10px 20px;
}

.player-table {
  border-collapse: collapse;
  /* border: 1px solid; */
  /* width: 80%; */
  margin: 0 auto;
}

.player-table-td-static {
  text-align: center;
}

.player-table-td-campos {
  text-align: left;
  /* width: 50%; */
}

.player-table-td-text {
  padding: 10px;
}

.input-palabras,
.input-nombre{
  /* display: block; */
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
  padding: 4px 10px;
  background-color: #efefef;
}

/* ------------------ game.htm ------------------*/
.letra {
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid gray;
  margin: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

#teclado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px 0px;
}

.teclado-letra{
  width: 40px;
  height: 40px;
  background-color: #8585FF;
  border: 1px solid #505099;
  border-radius: 6px;
}

.teclado-letra:hover {
  cursor: pointer;
  background-color: #6565FF;
}

.teclado-letra:disabled {
  background-color: #A5A5FF;
}

#tablas {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

#table1, #table2 {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

.tablas-encabezado {
  background-color: #6565FF;
  border: 1px solid #6565FF;
  color: #eee;
  font-weight: bold;
}

#table1 td, #table2 td {
  padding: 5px 20px;
  text-align: center;
}

#table1 tr:nth-child(even), #table2 tr:nth-child(even) {
  background-color: #b7e2f0;
}

#contenedor-palabra{
  display: flex;
  justify-content: center;
}

#contenedor-1{
  margin: 0px auto 0px auto;
}

.contenedor-resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-resultado {
  height: 64px;
  margin-bottom: 30px;
}

.resultados-finales {
  width: 90%;
  margin: 0 auto;
}

.resultados-finales h1, 
.resultados-finales p {
  text-align: center;
}

.resultados-finales table {
  margin: 0 auto;
}

.resultados-finales .boton {
  display: block;
  margin: 0 auto;
}

footer{
  display: flex;
  justify-content: center;
  padding: 100px;
}

@media only screen and (max-width: 600px) {
  .teclado-letra{
    width: 30px;
    height: 30px;
    background-color: #8585FF;
    border: 1px solid #505099;
    border-radius: 6px;
  }

  #tablas {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #table1, #table2 {
    border-collapse: collapse;
    font-size: 0.8rem;
  }

  #table1 td, #table2 td {
    padding: 5px 15px;
    text-align: center;
  }
}